#welcome {
  text-align: center;
  display: center;
}

#gameboard {
  width: 360px;
  margin: 40px auto 0px auto;
}

.row {
  clear: both;
  overflow: hidden;
}

.square {
  width: 119px;
  height: 84px;
  float: left;
  cursor: pointer;
  text-align: center;
  padding-top: 35px;
  font-size: 50px;
}

.bottom {
  border-bottom: 1px solid black;
}

.right {
  border-right: 1px solid black;
}

#players {
  display: center;
  text-align: center;
}

#p2 {
  display: none;
}

#newgame {
  text-align: center;
  padding-top: 15px;
}
